body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo, 
.hero-main {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    margin: 100px 0;
    gap: 30px;
    flex-wrap: wrap;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary, 
a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content img, 
.hero-text {
    flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

button {
    align-self: flex-start;
    background-color: #3882F6;
    color: #430000;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.hero-content img {
    background-color: rgb(109 116 125);
    color: rgb(248 248 249);
    height: auto;
    width: 200px;
    align-content: center;
    text-align: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 50px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 142px;
    flex-wrap: wrap;
}

.img-content {
    max-width: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.img-content img {
    border: 4px solid #3882F6;
    border-radius: 12%;
    height: auto;
    width: 150px;
}

.img-content .subtext {
    text-align: center;
}

.section3 {
    background-color: #E5E7EB;
    padding: 120px 250px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style:italic;
    font-weight: lighter;
}

.quote-credit {
    text-align:end;
    font-weight: bold;
    font-size: 20px;
}

.section4 {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    margin: 120px 200px;
    padding: 50px 100px;
    border-radius: 10px;
    color: #430000;
    flex-wrap: wrap;
}

.section4 button {
    border: solid;
    border-color: white;
}

.bold-text {
    font-weight: bold;
    font-size: 24px;
}

.footer {
    padding: 40px;
    background-color: #1f2937;
    color: white;
    text-align: center;
}