body {
    font-family: Roboto, sans-serif;
}

.section1 {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary, 
a {
    font-size: 18px;
    color: #E5E7EB;
}